.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
  width: 50%;
}